[server]
port = 8000
bind_address = "127.0.0.1"

[audio]
music_directory = "/path/to/music"
shuffle = true
repeat = true
bitrate = 128
format = "mp3"
sample_rate = 44100

[stream]
station_name = "My Radio Station"
description = "Great music 24/7"
genre = "Various"
url = "http://localhost:8000"

[ffmpeg]
path = "/usr/bin/ffmpeg"